---
---

ul.seating {
  margin: 0;
  padding: 0;
  list-style: none;

  ul {
    list-style: none;
  }

  & > li > span.header {
    background: linear-gradient(124deg,  #e81d98, #f0b71d, #e3e868, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3);
    display: block;
    padding: 3px;
    font-size: 2rem;
  }
}
